*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .circle {
    @apply relative flex items-center justify-center h-[500px] 
  }
  .circle::before {
    @apply content-[""] absolute bg-rose-600 h-[200px] w-[200px] rounded-full transform translate-x-[-120px]  translate-y-[-70px]
  }

  .circle::after {
    @apply content-[""] absolute bg-amber-500 h-[200px] w-[200px] rounded-full transform translate-x-[120px]  translate-y-[70px]
  }
  .atm-card {
    @apply relative h-[180px] w-[330px] bg-white/10 z-10 backdrop-filter backdrop-blur-lg shadow-lg rounded-2xl
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold  hover:from-[#FF56F6] hover:to-[#42A6E3];
}
}



